<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
    <script src="./js/index.js"></script>
    <title>SuperHeroList</title>
</head>
<body>
    <div class="container">
        <h1>Список супергероев</h1>
        <?php include_once 'main.html'; ?>
        <?php include_once 'buttons.html'; ?>
        <?php include_once 'error_message.html'; ?>
        <?php include_once 'success_message.html'; ?>
        <?php include_once 'form.html'; ?>
    </div>
</body>
</html>